{{#bs-navbar class="nav" type=(if inverse 'inverse') fluid=fluid collapsed=collapsed onCollapse=(action (mut collapsed) true) onExpand=(action (mut collapsed) false) as |navbar|}}
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "application" class="brand-custom"}}Bon Voyage!{{/link-to}}
  </div>
  {{#navbar.content}}
    {{#navbar.nav class='navbar-right' as |nav|}}
      {{#if isAuthenticated}}
        <a href="#" {{action "signOut"}}><button class="btn btn-danger navbar-btn"><span class="glyphicon glyphicon-log-out"></span> Sign Out</button></a>
        {{!-- {{#nav.item}}{{#nav.link-to "trips"}}<span class="glyphicon glyphicon-plus"></span> Add Trip{{/nav.link-to}}{{/nav.item}} --}}
        {{#nav.item}}{{#nav.link-to "trips"}}My Trips{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "change-password"}}Change Password{{/nav.link-to}}{{/nav.item}}
        {{!-- {{#nav.item}}<a href="#" {{action "signOut"}}>Sign Out</a>{{/nav.item}} --}}
      {{else}}
        {{#nav.item}}{{#nav.link-to "sign-up"}}Sign Up{{/nav.link-to}}{{/nav.item}}
        {{#nav.item}}{{#nav.link-to "sign-in"}}Sign In{{/nav.link-to}}{{/nav.item}}
      {{/if}}
    {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}

<div class="col-md-8 col-md-offset-2 content">

  {{#each flashMessages.queue as |flash|}}
    {{flash-message flash=flash}}
  {{/each}}

  {{outlet}}
</div>
