{{#if editing}}

  {{!-- {{trips/edit-trip/form updateTrip='updateTrip'}} --}}

  <form class="form-inline update-form" {{action 'updateTrip' trip on="submit"}}>
    <div class="form-group">
      {{input type="text" placeholder="City" value=trip.city required=true}}
    </div>
    <div class="form-group">
      {{input type="text" placeholder="State" value=trip.state required=true}}
    </div>
    <div class="form-group">
      {{input type="text" placeholder="Country" value=trip.country required=true}}
    </div>
    <button class="btn btn-success btn-green" type="submit">Update Trip</button><button class="btn btn-default btn-cancel" {{ action 'toggleEditing' }}>Cancel</button>
  </form>

{{else}}
  <li>{{trip.city}}, {{trip.state}}, {{trip.country}}<button class="btn btn-default delete-btn" {{action "deleteTrip" trip}}>Delete</button><button class="btn btn-default update-btn" {{ action 'toggleEditing' }}>Update</button></li>
{{/if}}

{{!-- {{#if editing}}
  {{trips/edit-trip/form trip=trip updateTrip='updateTrip' deleteTrip='deleteTrip' toggleEditing='toggleEditing'}}
{{else}}
  <li>{{trip.city}}, {{trip.state}}, {{trip.country}}<button class="btn btn-default delete-btn" {{action "deleteTrip"}}>Delete</button><button class="btn btn-default update-btn" {{ action 'toggleEditing' }}>Updatess</button></li>
{{/if}} --}}
