
<div class="my-trips">

  {{trips/add-trip-form addTrip='addTrip'}}

  <h1>Your Trips</h1>

  <ul>
    {{#each model as |trip|}}
      <li {{action 'goToList' list}}><a href="#">{{trip.city}}, {{trip.state}}, {{trip.country}}</a></li>
    {{/each}}
  </ul>

</div>
