
<div class="my-trips">

  {{trips/add-trip-form addTrip='addTrip'}}

  <h1>Your Trips</h1>

  <ul>
    {{#each model as |trip|}}
      <li><a href="#">{{trip.city}}, {{trip.state}}, {{trip.country}}</a><button class="delete-btn" class="btn btn-default" {{action "deleteTrip" trip}}>Delete</button></li>
    {{/each}}
  </ul>

</div>
